<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPy6uAkukRjKiYvXVvm9Cgpl2akkoO_qLjGA&s" alt="Travel Tracker logo" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/trips">Trips</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/social">Social</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/reviews">Reviews</a></li>
        </ul>
        <div class="d-flex">
          <a routerLink="/login" class="btn btn-outline-light me-2">Log In</a>
          <a routerLink="/signup" class="btn btn-success">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>
</header>


<div class="page-content">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Travel Tracker</h5>
        <p class="small">Track your travel experiences and discover new places around the world.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-light">Home</a></li>
          <li><a routerLink="/trips" class="text-light">Trips</a></li>
          <li><a routerLink="/social" class="text-light">Social</a></li>
          <li><a routerLink="/reviews" class="text-light">Reviews</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <div class="d-flex mt-3">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="my-3 bg-secondary">
    <div class="text-center">
      <p class="small mb-0">&copy; 2025 Travel Tracker. All rights reserved.</p>
    </div>
  </div>
</footer>